spring:
  profiles:
    active: local
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/page?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Seoul
    username: root
    password: 254dq6915!a8q1

  jpa:
    defer-datasource-initialization: true
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        format_sql: true
    generate-ddl: true

  thymeleaf:
    prefix: classpath:/templates/
    suffix: .html

  logging.level:
    org.hibernate.SQL: debug
    org.hibernate.orm.jdbc.bind: trace

  servlet:
    multipart:
      max-file-size: -1
      max-request-size: -1
    session:
      tracking-modes: cookie
      setMaxInactiveInterval: 1800

server:
  error:
    whitelabel:
      enabled: false