<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" th:href="@{/style.css}">
    <link rel="stylesheet" th:href="@{../assets/css/styles.min.css}"/>
</head>

<body>
<!--  Body Wrapper -->

<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">

    <div th:replace="fragments/sidebar :: sidebar"/>
    <!--  Main wrapper -->
    <div class="body-wrapper">
        <div th:replace="fragments/header :: header"/>
        <h4 class="mb-3" th:text="|로그인: ${user.loginId}|">로그인 사용자 이름</h4>
        <div class="container-fluid">
            <div class="container-fluid">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <h5 class="card-title fw-semibold mb-4">내 서재</h5>
                            <th:block th:each="following : ${followings}">
                                <div class="col-md-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title" th:text="${following.loginId}"></h5>

                                        </div>
                                    </div>
                                </div>
                            </th:block>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../assets/libs/jquery/dist/jquery.min.js"></script>
<script src="../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="../assets/js/sidebarmenu.js"></script>
<script src="../assets/js/app.min.js"></script>
<script src="../assets/libs/simplebar/dist/simplebar.js"></script>

</body>