<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" th:href="@{/style.css}">
    <link rel="stylesheet" th:href="@{../assets/css/styles.min.css}"/>
</head>

<body>
<!--  Body Wrapper -->
<div class="body-wrapper" data-layout="vertical">
    <div th:replace="fragments/header :: header"/>
    <div class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
        <div class="d-flex align-items-center justify-content-center w-100">
            <div class="row justify-content-center w-100">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-auto">
                                <img th:src="${user.image}" id="image" class="radius_img">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col col-lg-2">
                                <form enctype="multipart/form-data" th:action="@{/setting/fileupload}" method="post">
                                    <input type="file" id="imageFile" name="imageFile">
                                    <button type="submit" class="btn btn-secondary m-1">이미지 업로드</button>
                                </form>

                            </div>
                            <div class="col col-lg-2">
                                <a th:href="'javascript:delete()'" class="btn btn-outline-secondary m-1">이미지 제거</a>
                            </div>
                        </div>
                        <label class="form-label">아이디</label>
                        <div class="mb-2">
                            <div class="col-sm-8">
                                <input style="text-align:center" type="text" class="form-control"
                                       th:field="${user.loginId}">
                            </div>
                        </div>
                        <div class="mb-2">
                            <div class="col-sm-4">
                                <a th:href="'javascript:upload()'" class="btn btn-secondary">아이디 변경</a>
                            </div>
                        </div>

                        <label class="form-label">비밀번호</label>
                        <div class="col-sm-8">
                            <div class="mb-2">
                                <input type="text" class="form-control" placeholder="현재 비밀번호">
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="mb-2">
                                <input type="text" class="form-control" placeholder="변경 비밀번호">
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="mb-2">
                                <input type="text" class="form-control" placeholder="변경 비밀번호 확인">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <a th:href="'javascript:upload()'" class="btn btn-secondary m-1">비밀번호 변경</a>
                        </div>

                        <label class="form-label">이메일</label>
                        <div class="mb-2">
                            <div class="col-sm-8">
                                <input type="text" class="form-control" th:field="${user.email}">
                            </div>
                        </div>
                        <div class="mb-2">
                            <div class="col-sm-4">
                                <a th:href="'javascript:upload()'" class="btn btn-secondary">이메일 변경</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script src="../assets/libs/jquery/dist/jquery.min.js"></script>
<script src="../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="../assets/js/sidebarmenu.js"></script>
<script src="../assets/js/app.min.js"></script>
<script src="../assets/libs/simplebar/dist/simplebar.js"></script>
<script>
function upload(element) {
 const file = element.files[0];
 const filename = element.closest('.file_input').firstElementChild;

 if(!file) {
    filename.value= '';
    return false;
 }

 const fileSize = Math.floor(file.size / 1024 / 1024);
 if(fileSize > 10) {
    alert('10MB 이하의 파일로 업로드해주세요.');
    filename.value = '';
    element.value = '';
    return false;
 }

 filename.value = file.name;
}

















</script>

<script>
 function delete() {

}
















</script>

</body>
