<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{../assets/css/styles.min.css}"
          href="../assets/css/styles.min.css"/>
    <script src="https://kit.fontawesome.com/3620a0a7fb.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">
    <div
            class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
        <div class="d-flex align-items-center justify-content-center w-100">
            <div class="row justify-content-center w-100">
                <div class="col-md-8 col-lg-6 col-xxl-3">
                    <div class="card mb-0">
                        <div class="card-body">
                            <p class="text-center">Your Social Campaigns</p>
                            <form th:action="@{/login}" th:object="${loginForm}" method="post">
                                <div class="mb-3">
                                    <label th:for="id" class="form-label">ID</label>
                                    <input type="text" class="form-control" th:field="*{loginId}">
                                </div>
                                <div class="mb-4">
                                    <label th:for="password" class="form-label">Password</label>
                                    <input type="password" class="form-control" th:field="*{password}">
                                </div>
                                <button type="submit" class="btn btn-primary">Sign In</button>
                                <div class="d-flex align-items-center justify-content-center">
                                    <p class="fs-4 mb-0 fw-bold">New to Modernize?</p>
                                    <a class="text-primary fw-bold ms-2" href="join">Create an account</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../assets/libs/jquery/dist/jquery.min.js"></script>
<script src="../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>